@import '../../bower_components/bootstrap-sass/assets/stylesheets_fitness/_bootstrap.scss';
@import '../../bower_components/font-awesome/css/font-awesome.min.css';
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$red_diagon: rgb(253, 99, 78);
$bg_main__1: rgb(162, 202, 40);
$bg_main__2: rgb(253, 99, 78);

$jumbo: 890px;
$main_section__sm: 310px;
$main_section__md: 330px;
$main_section__lg: 390px;
$prefoot: 720px;

@mixin wh($wid, $hei) {
	width: $wid;
	height: $hei;
}

* {
	ul {
		padding: 0;
		margin: 0;
	}
	h1, h2, h3, h4, a, p { margin: 0; }
}
header {
	font-family: 'Nunito', sans-serif;
	.container-fluid {
		position: absolute;
		top: 0;
		z-index: 999;
		width: 100%;
	}
	h1, a { color: white; }
	#header_tag {
		display: flex;
		align-items: center;
		height: 77px;
		h1 {
			text-transform: uppercase;
			display: inline-block;
			font-size: 25px;
			margin: 0;
		}
	}
	#nav_header {
		width: 100%;
		height: 77px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		& > li {
			list-style: none;
			margin-left: 58px;
			position: relative;
			&:hover  { & > .nav_header__submenu { display: block; } }
			& > a {
				text-transform: uppercase;
				padding-bottom: 12px;
				&:hover { 
					color: white; 
					text-decoration: none;
				}
				&:focus { outline: none; }
			}
			.nav_header__submenu {
				display: none;
				width: 200px;
				position: absolute;
				top: 20px;
				right: 0;
				li {
					display: block;
					width: 100%;
					background: $bg_main__2;
					text-align: center;
					padding: 20px 0;
					&:hover { 
						background: $bg_main__1; 
						/* &:first-child:after {
							border-bottom-color: $bg_main__1;
						} */
					}
					&:first-child {
						border-top-left-radius: 5px;
    					border-top-right-radius: 5px;
    					/* &:after {
							bottom: 100%;
							right: 0%;
							border: 2px solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: transparent;
							border-bottom-color: $bg_main__2;
							border-width: 11px;
							margin-left: -11px;
						} */
					}
					&:last-child {
						border-bottom-right-radius: 5px;
    					border-bottom-left-radius: 5px;
					}
					a { 
						color: white; 
						text-transform: uppercase;
						width: 100%;
						display: inline-block;
					}
				}
			}
		}
	}
	#bttn_close { display: none; }
}

main {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	// SETTING UP FONTS
	.tiles {
		p.textred, p.textwhite {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
		}
		h2 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
		}
	}

	// BIGASS IMAGE UNDER THE HEADER
	#jumbo {
		height: $jumbo;
		background: url(../images/main_postheader.png) center center / cover;
		position: relative;
		h1, h2 {
			position: absolute;
			color: white;
			text-transform: uppercase;
		}
		h1 { 
			bottom: 165px; 
			left: 7.25%;
			font-size: 40px;
			font-family: 'Nunito', sans-serif;
			font-weight: 300;
			i { color: $bg_main__1; }
		}
		h2 { 
			bottom: 145px;
			left: 17%; 
			font-size: 16px;
			font-weight: 700;
			i { color: $bg_main__2; }
		}
	}

	
	#main_top_description {
		padding-top: 90px;
		padding-bottom: 90px;
		background: $bg_main__1;
		& > div {
			.spritewrap__top_desc { 
				background: url(../images/sprite_1.png) no-repeat; 
				margin-bottom: 18px;
			}
			section:nth-child(1) .spritewrap__top_desc {
				@include wh(44px, 47px);
				background-position: 0 0;
			}
			section:nth-child(2) .spritewrap__top_desc {
				@include wh(46px, 47px);
				background-position: -56px 0;
			}
			section:nth-child(3) .spritewrap__top_desc {
				@include wh(47px, 47px);
				background-position: -112px -4px;
			}
			section:nth-child(4) .spritewrap__top_desc {
				@include wh(44px, 47px);
				background-position: -163px 0;
			}
		}
		& section {
			text-align: left;
			color: white;
			a { 
				color: white;
				font-size: 15px; 
				i.fa { font-size: 10px; }
			}
			h2 {
				font-size: 24px;
				margin-bottom: 25px;
			}
			p {
				height: 105px;
				width: 95%;
				font-size: 14px;
				margin-bottom: 22px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
			}
		}
	}


	#main__1 {
		background: $bg_main__1;
		// tiles' height 
		& > div > * {
			height: $main_section__lg;
		}
		.tiles_image:nth-of-type(1) {
			background: url(../images/main_md_right_1.png) center center / cover;
			.main_tiles__status { right: 4%; }

		}
		.tiles_image:nth-of-type(2) {
			background: url(../images/main_md_left_2.png) center center / cover;
		}
	}
	#main__2 {
		background: $bg_main__2;
		& > div {
			.tiles { position: relative; }
			//first and third rows
			.tiles:nth-child(4n+3), .tiles:nth-child(4n+4) {
				height: $main_section__sm;
			}
			//second and fourth rows
			.tiles:nth-child(4n+1), .tiles:nth-child(4n+2) {
				height: $main_section__md;
			}
			.tiles:nth-child(1) { background: url(../images/main_sm_left_3.png) center center / cover; }
			.tiles:nth-child(2) { background: url(../images/main_md_right_4.png) center center / cover; }
			.tiles:nth-child(5) { background: url(../images/main_md_left_5.png) center center / cover; }
			.tiles:nth-child(6) { background: url(../images/main_sm_right_6.png) center center / cover; }
		} 
		.spritewrap__main__2 {
			background: url(../images/sprite_2.png) no-repeat;
			position: absolute;
			//same as p.textred
			top: 50px;
			right: 5%;
		}
		.tiles:nth-child(3) .spritewrap__main__2 {
			@include wh(32px, 32px);
			background-position: 0 0;
		}
		.tiles:nth-child(7) .spritewrap__main__2 {
			@include wh(32px, 38px);
			background-position: -49px 0;
		}
		.tiles:nth-child(8) .spritewrap__main__2 {
			@include wh(26px, 38px);
			background-position: -94px 0;
		}
	}
	#main__1, #main__2 {
		p.textred, p.textwhite, h2 { text-transform: uppercase; }

	//COMMON CLASSES:
		// 
		.tiles_white {
			background: white;
			p.text { 
				width: 75%; 
				margin: 0 auto 12px;
			}
			p.textred {
				color: $bg_main__2;
				font-size: 14px;
				margin: 50px 0 12px 0;
			}
			h2 {
				color: $bg_main__1;
				font-size: 35px;
				margin-bottom: 20px;
			}
			a {
				color: $bg_main__1;
				font-size: 14px;
				margin-top: 12px;
			}
			i {
				display: inline-block;
				@include wh(25px, 33px);
				background: url(../images/gray_raindrop.png) no-repeat center center;
				margin-bottom: 20px;
			}
		}
		//
		.tiles_image {
			position: relative;
			.main_tiles__status {
				position: absolute;
				bottom: 30px;
				p, a { display: inline-block; color: white; }
				p.redstatus { color: $bg_main__2; }
				a { color: white; }
			}
		}
		//
		.tiles_green { 
			color: white; 
			background: $bg_main__1;
			p.textwhite { margin-top: 50px; }
			h2 { margin-bottom: 20px; }
		}
	// SPECIFIC CLASSES:
		//
		.main_tiles__sf {
			h2 {
				margin: 82px 0 18px;
			}
			h2, p { padding: 0 10%; }
		}
		.main_tiles__calendar {
			position: relative;
			p, i { 
				display: inline-block; 
				color: white;
				text-transform: uppercase;
				position: absolute;
				top: 45px;
				font-weight: 700;
			}
			p {
				&:first-child { left: 8%; }
				&:nth-child(2) { right: 8%; }				
			}
			i { right: 3%; }
		}
		.text-left {
			p { width: 90%; }
		}
	}
	#jumbo_prefoot {
		height: $prefoot;
		background: url(../images/main_prefooter_1.png) center center / cover;
		color: white;
		h2 { 
			margin: 13% 0 28px; 
			font-size: 45px;
		}
		p {
			display: inline-block;
			width: 40%;
			margin: 0 auto;
		}
	}
}

footer {
	.container-fluid {
		height: 600px;
		background: rgb(13, 17, 25);
		div[class^="col"] {
			margin-top: 55px;
			h3 { 
				color: white;
				margin-bottom: 23px; 
			}
			p { color: rgb(130, 151, 167); }
			#footer_social__icons {
				display: flex;
    			width: 100%;
    			justify-content: flex-start;
				li {
					list-style: none;
					display: inline-block;
   					width: 22%;
    				margin-right: 3%;
					a {
						display: inline-block;
					    text-align: center;
					    width: 100%;
					    border-radius: 50%;
					    i { color: white; }
					}
					&:nth-child(1) a { background: rgb(46, 49, 146); }
					&:nth-child(2) a { background: rgb(0, 174, 239); }
					&:nth-child(3) a { background: rgb(237, 49, 35); }
					&:nth-child(4) a { background: rgb(23, 26, 143); }
				}
			}
			&:last-child > form {
				height: 51px;
				display: flex;
				align-items: center;
				input {
					height: inherit;
					border: none;
					border-radius: 3px;
					padding-left: 21px;
					color: lightgray;
				}
				input:first-child {
					width: 27%;
				}
				input:nth-child(2) {
					width: 46%;
					margin: 0 1%;
				}
				input[type="button"] {
					width: 25%;
					padding: 0;
					background: $bg_main__1;
					color: white;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
main {
	#jumbo {
		h1 { 
			font-size: 35px; 
			left: 4.5%;
			bottom: 100px;
		}
		h2 { 
			font-size: 15px;
			bottom: 80px; 
		}
	}
	#main_top_description {
		section {
			h2 { font-size: 19px; }
			p { font-size: 12px; }
		}
	}
}
}
@media screen and (max-width: 992px) {
header {
	#nav_header { 
		display:none; 
		justify-content: space-around;
		height: auto;
		align-items: flex-start;
		margin-top: 80px;
		& > li {
			margin: 0;
			width: 20%;
			text-align: center;
			.nav_header__submenu {
				display: block;
				width: 100%;
				margin: 15px 0 30px;
				position: initial;
				& > li {
					border: none;
					background: transparent;
					padding: 7px 0;
					&:hover { background: transparent; }
					a { text-transform: initial; }
				}
			}
		}
	}
	#bttn { 
		margin-right: 0;
		position: absolute;
		right: 15px;
		span {
			background: white;
			@include wh(40px, 5px);
			margin-top: 8px !important;
		}
	}
	#bttn_close {
		color: white;
		font-size: 45px;
		display: none;
		position: absolute;
		right: 30px;
		top: 20px;
		cursor: pointer;
	}
	.overlay {
    	position: fixed;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    background: #333;
	    overflow: auto;
	    z-index: 99;
	}
	#footer_social__icons {
		display: flex;
    	width: 50%;
    	justify-content: space-around;
		margin: 0 auto;
		li {
			list-style: none;
			display: inline-block;
   			width: 70px;
    		margin-right: 20px;
			a {
				display: inline-block;
				text-align: center;
				width: 100%;
				border-radius: 50%;
				height: 70px;
				line-height: 70px;
				i { 
					color: white; 
					font-size: 15px;
				}
			}
			&:nth-child(1) a { background: rgb(46, 49, 146); }
			&:nth-child(2) a { background: rgb(0, 174, 239); }
			&:nth-child(3) a { background: rgb(237, 49, 35); }
			&:nth-child(4) a { background: rgb(23, 26, 143); }
		}
	}
}
footer {
	.container-fluid {
		height: auto;
		padding-bottom: 30px;
		div[class^="col"] p { width: 75%; }
		div[class^="col"] #footer_social__icons {
			width: 100%;
			justify-content: flex-start;
			li {
				width: 70px;
				margin-right: 20px;
				a {
					height: 70px;
					line-height: 70px;
					i {
						font-size: 20px;
					}
				}
			}
		}
	}
}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
main {
	#main_top_description section {
		p { height:130px; }
		h2 { height: 22px; }
	} 
}
}
@media screen and(max-width: 768px) {
header {
	#footer_social__icons {
		width: 80%;
	}
}
main {
	#main_top_description section {
		margin-bottom: 30px;
		p { height: 85px; }
	}
	#main__1 .tiles_white p.text {
		width: 90%;
		font-size: 11px;
	}
	#main__2 {
		.tiles_white h2 {
			font-size: 20px;
		}
		.text-left p { font-size: 12px; }
	}
}
}
@media screen and(max-width: 520px) {
header {
	#footer_social__icons {
		width: 100%;
	}
}
}